# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Build Files
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit Secrets
.streamlit/secrets.toml

# Temporary Files
*.tmp
*.temp

# Testing
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment Config
pyvenv.cfg

# Pickle File
similarity.pkl
movies.pkl


